backend:
  name: github
  repo: alixdeschamps/avion-pedales
  branch: main

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Resume", name: "summary", widget: "text", required: false }
      - { label: "Contenu", name: "body", widget: "markdown" }
